# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Media & Large Files
*.mp4
*.MOV
*.avi

# Editor & Local configs
*.local
.vscode/
.idea/
.DS_Store
.firebase/
